# Change the Postgres adress in DB_URL according to your own personal credentials. Other values can remain default and will work.

DB_URL=postgresql://postgres:password@localhost:5432/crime_database
RAW_FILE_PATH=chicago_data/Crimes_-_2001_to_Present.csv
TARGET_TABLE=crimes
TARGET_SCHEMA=public
MAX_REJECTION_RATE=0.05